## Task 1
### Variables and Data Types

In [24]:
# a
# Define variables
age = 40               # integer variable
name = "Amina Javaid"  # string variable 
is_student = True      # Boolean variable 

# Print variables
print("Age:", age)
print("Name:", name)
print("Is student:", is_student)

Age: 40
Name: Amina Javaid
Is student: True

In [25]:
# b
age = age + 25               # Add 25 t0 age
name = name + " Smith."      # Concatenate name with 'Smith.' 
is_student = not is_student  # Negate is_student 

# Print the results
print("Age:", age)
print("Name:", name)
print("Is student:", is_student)

Age: 65
Name: Amina Javaid Smith.
Is student: False

## Task 2
### Expressions and Operators

In [26]:
# a
width = 5.5
height = 3.25
area = width * height
print("Area:", area)

Area: 17.875

In [27]:
# b
Celcius = 100                        # Temperature in Celcius   
Fahrenheit = (Celcius * 9 / 5) + 32  # Conversion to Fahrenheit
print("Temperature in Fahrenheit:", Fahrenheit)

Temperature in Fahrenheit: 212.0

In [29]:
# c
radius = 5
pi = 3.14159
area = pi * (radius**2)
print("Area of circle:", area)

Area of circle: 78.53975

## Task 3
### Introduction to Data Structures

In [30]:
# a
fruits = ["apple", "banana", "orange", "grape", "kiwi"]
print(fruits)

['apple', 'banana', 'orange', 'grape', 'kiwi']

In [32]:
# b
months = ("January", "February", "March")
print(months)

('January', 'February', 'March')

## Task 4
### List Manipulation

In [33]:
# a
numbers = [12, 34, 45, 67, 89, 100, 23, 56]

# Calculate the sum of numbers
sum = 0
for num in numbers:
    sum = sum + num

# Calculate the average of numbers
average = sum / len(numbers)

# Print the results
print("Sum:", sum)
print("Average:", average)

Sum: 426
Average: 53.25

In [35]:
# b

# Remove the first element
fruits.pop(0)

# Remove the last element
fruits.pop(3)

# Print the results
print(fruits)

['banana', 'orange', 'grape']

## Task 5
### Dictionary Operations

In [36]:
# a
# Create a dictionary
capitals = {"USA": "Washington D.C.", "France": "Paris", "Japan": "Tokyo"}

# Print the dictionary
print(capitals)

{'USA': 'Washington D.C.', 'France': 'Paris', 'Japan': 'Tokyo'}

In [38]:
# b
# Add a new country to the dictionary
capitals.update({"Germany": "Berlin"})

# Print the updated dictionary 
print(capitals)

{'USA': 'Washington D.C.', 'France': 'Paris', 'Japan': 'Tokyo', 'Germany': 'Berlin'}

In [41]:
# c
# Check if France exists in the 'capitals' dictionary
if("France" in capitals):
    print("France is in the dictionary")

France is in the dictionary

## Task 6
### Comparison Operators, Logical Operators and If/Else

In [45]:
# a
# Take input from the user
number = int(input("Enter a number:"))

# Check if the number is even or odd
if(number % 2 == 0):
    print("The number is even")
else:
    print("The number is odd")

Enter a number: 70

The number is even

In [56]:
# b
age = 20
GPA = 3.36

if(age >= 18 and GPA >= 3.0):
    print("Eligible for admission")
else:
    print("Not eligible for admission")

Eligible for admission

## Task 7
### Advanced Data Types

In [57]:
# a"
# Create a set
fruits_set = {"apple", "banana", "orange", "grape", "kiwi"}

# Print the set
print(fruits_set)

{'kiwi', 'orange', 'apple', 'grape', 'banana'}

In [63]:
# b
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Union of sets
union = set1.union(set2)
print("set1 ∪ set2 =", union)

# Intersection of sets
intersection = set1.intersection(set2)
print("set1 ∩ set2 =", intersection)

# Difference of sets
diff1 = set1 - set2
diff2 = set2 - set1
print("set1 - set2 =", diff1)
print("set2 - set1 =", diff2)

# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)
if(is_subset == True):
    print("set1 is a subset of set2")
else:
    print("set1 is not a subset of set2")

set1 ∪ set2 = {1, 2, 3, 4, 5, 6, 7}
set1 ∩ set2 = {3, 4, 5}
set1 - set2 = {1, 2}
set2 - set1 = {6, 7}
set1 is not a subset of set2

## Task 8
### Strings Manipulation

In [65]:
# a
str = "Python programming is fun and powerful!"

# length of the string
length = len(str)

# Convert to Uppercase
str_upper = str.upper()

# Replace 'fun' with 'exciting'
str_replaced = str.replace('fun', 'exciting')

# Check if the string contains the word 'Python.'
contains = 'Python.' in str

# Split the string0
words = str.split()

# Print the results
print("Length of the string:", length)
print("Uppercase string:", str_upper)
print("Replace 'fun' with 'exciting':", str_replaced)
if(contains == True):
    print("The string contains 'Python.'")
else:
    print("The string does not contain 'Python.'")
print("String splitted into words:", words)

Length of the string: 39
Uppercase string: PYTHON PROGRAMMING IS FUN AND POWERFUL!
Replace 'fun' with 'exciting': Python programming is exciting and powerful!
The string does not contain 'Python.'
String splitted into words: ['Python', 'programming', 'is', 'fun', 'and', 'powerful!']